* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 24px 0;
}

header h1{
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    max-width: 1440px;
    margin: 16px auto 0;
}

.book-card{
    display: flex;
    flex-direction: column ;
    width: 300px ;
    padding: 20px;
    background-color: rgb(209, 247, 247);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    border-radius: 16px;
    height: 800px;
}

.book-card img{
    width: 200px;
    display:block ;
    margin: 0 auto;
}

.book-card h2{
    text-align: center;
    font-size: 20px;
}

.book-details{
    padding: 20px 0;
}

.book-details,
.comment{
    font-size: 16px;
}

.like-section{
    padding: 12px 0;
    margin: 8px 0;
    font-size: 24px;
}

.like-section span{
    cursor: pointer;
}

.comments-section{
    max-height: 250px;
    overflow-y: auto;
}

.comments-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: auto;
}

.comments-form button{
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

.comments-form input{
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.comment{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 12px;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(251, 224, 253);
    overflow-wrap: break-word;
}

.comment strong{
    display: block;
}